* {margin: 0px;padding: 0px;}
body {color:#000;background:#FFF;font-family:utm_avo;font-size: 13px;}
ul li{list-style:none;}
a{text-decoration:none;color:#000;}
.phantrang { text-align: center; width:100%; float:left; margin-bottom:10px;padding-left:0px;padding-top:10px;}
.phantrang a{ width:25px; height:25px; margin:2px;     background: #00F;
    color: #FFFFFF;font-weight:bold; padding:3px 10px;border-radius:6px;}
.phantrang span{ width:25px; height:25px; margin:3px; background:#000; color:#fff; padding:3px 10px;border-radius:6px;}
.phantrang li{list-style:none; float:left;}
.clear{clear:both;}
@font-face{font-family: utm_avo;src:url(font/utmavo.ttf);}
@font-face{font-family: utm_impact;src:url(font/UTM_Impact.ttf);}
h1,h2,h3,h4,h5,h6{font-weight:inherit;font-size:inherit;}

.noidung img{width:100% !important;height:auto;}
.noidung table{width:100% !important;height:auto;}
.noidung iframe{max-width:100% !important;height:auto;}
.container{}
.center{max-width:1200px;height:auto;margin:0 auto;margin-top:20px;}
.left{width:74.5%;height:auto;float:left;padding-right: 10px !important}
.right{width:290px;height:auto;float:right;}
@media screen and (max-width:1160px){
.left{width:73%;padding-left:5px;}
}
@media screen and (max-width:1115px){
.left{width:71%;padding-left:5px;}
}
@media screen and (max-width:1060px){
.left{width:70%;padding-left:5px;}
}
@media screen and (max-width:1000px){
.left{width:99%;padding-left:15px;}
.right{display:none;}
}
@media screen and (max-width:500px){
.left{width:98%;padding-left:14px;}
.title_sanpham{font-size:16px !important;}
.right{display:block; float:none; margin:0 auto}
.an_mb { display:none}
}
@media screen and (max-width:400px){
.left{width:98%;padding-left:6px;}
}
#error_login{
	color:#b3292e;
	font-style: italic;
}
.breadcrumb{
	background-color: #FFF !important;
	max-width: 95%;
}